<html>
    <head>
        <title>Sorry :(</title>
        <style>
            body{
                background-color: tomato;
                }
            h1{
                color:lightgreen;
            }
            link:active{
                color:darkorange;
            }
            link:any-link{
                color:aquamarine;
            }
            link:visited{
                color:aqua;
            }
        </style>
    </head>
    <body>
        <h1>Sorry :(<br>No results were found for "<!-title-!>"</h1>
        <h2>Click <a href="/">here</a> to search for another book.</h2>
    </body>
</html>